// ----------------------------------
// Question card
// ----------------------------------

.question-card {
  @extend .card;
  @extend .border-0;
  @extend .bg-body-tertiary;
  @extend .my-2;
  cursor: pointer;

  &:hover {
    @extend .bg-body-secondary;
  }

  .question-body {
    @extend .card-body;
  }

  .question-footer {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .mt-1;
  }

  .question-section-name {
    @extend .fw-medium;
    @extend .mb-1;
  }

  .question-author-date {
    @extend .me-2;
  }

  .question-id {
    @extend .me-1;
    font-size: .8rem;
  }

  .question-author, .question-date {
    @extend .d-inline;
    @extend .px-0;
    @extend .text-secondary;
    font-size: .8rem;
  }

  .question-author {
    @extend .me-2;
  }

  .question-comments-likes {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-end;
    @extend .text-secondary;
    gap: 1rem;
  }

  .question-likes {
    @extend .d-inline-flex;
    @extend .align-items-center;

    &:before {
      @include icon('\F417');
      @extend .me-1;
    }

    &.liked {
      @extend .text-danger;
      &:before {
        @include icon('\F415');
      }
    }
  }

  .question-answers-icons {
    @extend .d-flex;
    @extend .align-items-center;
    gap: 0.5rem;
  }

  .answer-icon {
    position: relative;
    font-size: 1.2rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .student-icon {
    &:before {
        @include icon('\F8DF');
        color: #6c757d;
    }
  }

  .assistant-icon {
    &:before {
        @include icon('\F4DB');
        color: #198754;
    }
  }

  .bot-icon {
    &:before {
        @include icon('\F6B1');
        color: #d63384;
    }
  }

  .teacher-icon {
    &:before {
        @include icon('\F6FD');
        color: #fd7e14;
    }
  }

  .icon-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    line-height: 1;
    
    &.accepted {
        bottom: -0.3rem;
        right: -0.3rem;
        color: #198754;
        &:before {
            @include icon('\F26B');
            top: 0;
        }
    }

    &.liked {
        top: -0.3rem;
        right: -0.3rem;
        color: #dc3545;
        &:before {
            @include icon('\F415');
            top: 0;
        }
    }
  }

}

.top-bar {
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;

  .sort-dropdown {
    @extend .btn;
    @extend .btn-sm;
    @extend .dropdown-toggle;
    @extend .p-0;
    @extend .ms-1;
    @extend .border-0;
    @extend .border-bottom;
    @extend .border-dark;
    @extend .rounded-0;
  }

  .refresh-button {
    @extend .ms-1;
    text-decoration: none;

    &:before {
      @include icon('\F116');
      @extend .text-secondary;
    }

    &:hover::before {
      @extend .text-dark;
    }
  }

  .website-info {
    @extend .ms-1;
    text-decoration: none;

    &:before {
      @include icon('\F505');
      @extend .text-secondary;
    }

    &:hover::before {
      @extend .text-dark;
    }
  }
}